html,
body {
    background-image: url("../images/backgroundCrystal.jpg");
    margin: 0;
    padding: 0;
}


p{
    background-color:  pink;
}

.panel,
.panel-default,
.randomPanel {
    height: 150px;
    background-color: green;

}


.panel,
.panel-default,
.resultPanel {
    height: 150px;
    background-color: green;
}

.thumbnail{
    height: 80px;
    width: 100px;
}

/* .pictureFrame{
    width: 55%;
} */


.resultPanel{
    height: 10%;
}

.green{
background-color: green;

}

/* .darkgreen{
    background-color: darkolivegreen;
    color: white;

} */

.blue{
background-color: blue;
}